<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= package_name %></title>
</head>
<body>
    <div style="text-align: center">
      <h1>Welcome</h1>
      <div>
        <input type='text' name="name" placeholder='Text here' />
        <button onClick="window.greet(event)" variant='primary'>Greet</button>
      </div>
    </div>
  <script src="./src/index.js"></script>
</body>
</html>
